@import "tailwindcss";

@theme {
  --color-vtt-dark-gray: #2C2C2C;
  --color-vtt-light: #EAEAEA;
  --color-vtt-dark-red: #961D1D;
  --color-vtt-red: #D32F2F;
  --color-vtt-light-red: #E34646;
  --color-vtt-light-gray: #444444;
  --color-vtt-dark: #1A1A1A;
  --color-vtt-light-green: #43A15D;
  --color-vtt-green: #2E6F40;
  --color-vtt-dark-green: #1D4829;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-vtt-dark-gray);
  color: var(--color-vtt-light);
  /* to avoid window-level scrollbars */
}